@font-face {
    font-family: 'Odin Font';
    src: url(/Font/Norse-Bold.otf);
}

:root {
    --main-color: #1c4859;
    --background-color: rgb(245, 245, 245);
    --focused-input: blue;
    --invalid-input: red;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}


aside {
    width: 40%;
    background-image: url(/Images/background.jpg);
    background-size: cover;
}

.logo-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 50%);

    & img {
        width: 128px;
        height: 160px;
    }

    & span {
        font-family: 'Odin Font', sans-serif;
        color: white;
        font-size: 8rem;
        align-self: center;
    }
}

main {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--background-color);
    flex-grow: 1;
}

.header-text {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 24px;
    padding: 0px 32px 64px;
}

.form-container {
    background-color: white;

    padding: 8px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & form {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;
    }

    & div {
        display: flex;
        flex-direction: column;
    }

    & label {
        text-transform: uppercase;
        font-size: 0.8em;

    }

    & input {
        border: 1px solid #E5E7EB;
        border-radius: 4px;
        padding-left: 4px;
    }

    .invalid-state {
        color: var(--invalid-input);
        font-size: 0.8em;
        visibility: hidden;
    }

    & input:focus {
        outline: none;
        border-color: var(--focused-input);
        box-shadow: 2px 2px 2px lightgrey;
    }

    & input[type="password"]:invalid {
        outline: none;
        border-color: var(--invalid-input);
    }

    & input[type="password"]:invalid:focus {
        outline: none;
        border-color: var(--focused-input);
    }

    & input[type="password"]:invalid~.invalid-state {
        visibility: visible;
    }
}

.footer {
    background-color: var(--background-color);
    flex-grow: 1;
    padding: 32px;

    & .footer-container {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    & button {
        color: white;
        background-color: var(--main-color);
        width: 256px;
        padding: 8px;
        border-radius: 8px;
    }

    & p {
        font-size: 1rem;
    }

}

a {
    text-decoration: none;
}

a:visited {
    color: var(--main-color);
}

p {
    font-weight: bold;
    font-size: 1.5rem;
}